# Seeed Studio XIAO nRF52840 board configuration

# Copyright (c) 2020 Tobias Svehagen
# SPDX-License-Identifier: Apache-2.0

if BOARD_SEEED_XIAO_NRF52840

config BOARD
	default "seeed_xiao_nrf52840"

config BT_CTLR
	default BT

config BT_DEVICE_NAME
	default "Flatbox rev7"

config KERNEL_BIN_NAME
	default "flatbox-rev7"

config I2C
	default y

config GPIO_MCP230XX
	default y

endif # BOARD_SEEED_XIAO_NRF52840
