/ {
    /delete-node/ buttons;

    buttons {
        compatible = "gpio-keys";
        button17: button_17 { gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "11"; };
        button11: button_11 { gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "SDA"; };
        button12: button_12 { gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "SCL"; };
        button13: button_13 { gpios = <&gpio1 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "5"; };
        button18: button_18 { gpios = <&gpio0 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "12"; };
        button19: button_19 { gpios = <&gpio1 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "13"; };
        button16: button_16 { gpios = <&gpio0 27 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "10"; };
        button15: button_15 { gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "9"; };
        button14: button_14 { gpios = <&gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "6"; };
        button1: button_1 { gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "A0"; };
        button10: button_10 { gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "D2"; };
        button9: button_9 { gpios = <&gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "MI"; };
        button8: button_8 { gpios = <&gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "MO"; };
        button7: button_7 { gpios = <&gpio0 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "SCK"; };
        button6: button_6 { gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "A5"; };
        button5: button_5 { gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "A4"; };
        button4: button_4 { gpios = <&gpio0 28 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "A3"; };
        button3: button_3 { gpios = <&gpio0 30 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "A2"; };

        button2: button_2 { gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "A1"; };
        button0: button_0 { gpios = <&gpio1 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; label = "User switch"; };
    };

    chosen {
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
        zephyr,uart-mcumgr = &uart0;
        zephyr,bt-mon-uart = &uart0;
        zephyr,bt-c2h-uart = &uart0;
    };
};

&gpio0 {
    sense-edge-mask = < 0xffffffff >;
};

&gpio1 {
    sense-edge-mask = < 0xffffffff >;
};

&uart0 {
    current-speed = <921600>;
};

&zephyr_udc0 {
    /delete-node/ board_cdc_acm_uart;
};
