/ {
    gamepad-buttons {
        compatible = "gpio-keys";
        south { gpios = <&gpio1 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; };
    };

    aliases {
        sys-button = "/gamepad-buttons/south";
    };
};
