/ {
    chosen {
        zephyr,console = &uart21;
        zephyr,shell-uart = &uart21;
        nordic,rpc-uart = &uart21;
    };
};

&gpio0 {
    sense-edge-mask = < 0xffffffff >;
};

&gpio1 {
    sense-edge-mask = < 0xffffffff >;
};

&uart21 {
    current-speed = <921600>;
};
